<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Shinhan Bank L/C Service </title>
   <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"> <!--CSS 연결-->
</head>

<body>
   <div class="inner">
       <div class="reference">
           <h1 id="title">관리자 로그인</h1>
           <legend id="information">아이디, 비밀번호를 입력해주세요.</legend>
       </div>
   </div>

   <div class="inner_login">
       <div class="login"> 
           <form id="authForm" action="/login" method="post" enctype="application/x-www-form-urlencoded">
               <fieldset>
               <legend class="screen_out">로그인 정보 입력폼</legend>
               <div class="box_login">
                   <div class="inp_text">
                   <label for="userid" class="screen_out">아이디</label>
                   <input type="text" id="userid" name="userid" placeholder="ID">
                   </div>
                   <div class="inp_text">
                   <label for="userpw" class="screen_out">비밀번호</label>
                   <input type="password" id="userpw" name="userpw" placeholder="Password">
                   </div>
               </div>
               <button class="btn_login" onclick="inquiry()">로그인</button>              
               </fieldset>
           </form>
       </div>
    </div>
</body>
<script type="text/javascript" src="/javascripts/admin-login.js"></script>
</html>